<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{this.document.title}}</title>
  </head>
  <body>
    {{> utils/elements/elements this.document.scripts}}
  </body>
</html>
